@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Smooch+Sans:wght@100..900&display=swap');

@import "tailwindcss";
/** @type {import('tailwindcss').Config} */

     @theme {
        
          --color-primaryyellow: #22c55e;
          --color-primarygray: #1c1c1c;
          --color-secondarygray: #282826;
          --color-secondarywhite: #f5f5f5; 
        }
        @theme {
            --font-kanit: "Kanit", sans-serif; 
          }

        /* fontFamily: {
          barlow: ['"Barlow Condensed"', 'sans-serif'],
          inter: ['Inter', 'sans-serif'],
          kanit: ['Kanit', 'sans-serif'],
          smooch: ['"Smooch Sans"', 'sans-serif'],
        }
     */
  